
.workspace {
  height: 100%;
  margin-top: 5px;
}

.hero-tab {
  font-weight:bold;
}
.spinner
{
  visibility: hidden;
  margin-left:5px
}
.true-hero-form
{
  display:none !important;
}
.username {
  padding-left:20px;
  font-family:Helvetica;
  font-size:20px;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.read_only_true .blocklySvg {
  background-color: #666 !important;
}
 .ide
 {
   margin-top:-47px;
 }
