{namespace Catalog.soy}

/**
 * This is a Closure Template.
 *
 * To regenerate just English, run:
 *   make heroes-en
 *
 * To regenerate all languages, run:
 *   make languages
 */

/**
 * Web page structure.
 */
{template .start}

  <ul id="project_list"></ul>

{/template}
