.fill_height{
  height: 100vh;
  overflow:hidden;
}
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}
button.publish {
  background-color: #2bad19 !important;
  border-color: #0b9d09 !important;
}

#new_hero_button {
  font-weight: bold;
}
.costumes {
  display: block;
  padding: 5px;
  text-align: center;
}
.form-item {
  margin: 5px;
}

.thumbnails {
  background-color: #e6e6e6;
  height: 400px;
  padding-right: 0px;
}
.literally-canvas {
  padding-left: 5px;
}

#student_dropdown {
  margin: 30px;
  margin-bottom: 15px;
  font-size:48px;
}

.speed_label {
  position:relative;
  display:inline;
  bottom: 11px;
}

.no-padding {
  padding: 0px;
  height: 100%;
}

#classadoo-header
{
  height:70px;
  text-align: right;
}

#games
{
  height: calc(100% - 70px);
}

#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#sampleHelp3, #sampleHelp4 {
  height: 50px;
  width: 250px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.camera {
  background-position: -21px 0px;
}
.stop {
  background-position: -42px 0px;
}
.run {
  background-position: -63px 0px;
}
