button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}
button.publish {
  background-color: #2bad19 !important;
  border-color: #0b9d09 !important;
}

.blockly, .workspace {
  height: 400px;
}
.workspace {
  margin-top: 5px;
}
.blockly {
  margin-top: -42px;
}

.true-hero-form
{
  display:none !important;
}
.username {
  padding-left:20px;
  font-family:Helvetica;
  font-size:20px;
}
#student_dropdown {
  margin: 30px;
  margin-bottom: 15px;
  font-size:48px;
}
.speed_label {
  position:relative;
  display:inline;
  bottom: 11px;
}

.blockly, .visualization {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  float: left;
}
.visualization {
  width: 600px !important;
  padding-left: 20px;
}
#new_hero_button {
  font-weight: bold;
}

.read_only_true .blocklySvg {
  background-color: #666 !important;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#sampleHelp3, #sampleHelp4 {
  height: 50px;
  width: 250px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.camera {
  background-position: -21px 0px;
}
.stop {
  background-position: -42px 0px;
}
.run {
  background-position: -63px 0px;
}
