body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    position: relative;
    width: 320px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    position: relative;
    width: 320px;
    height: 240px;
    z-index: 10;
}
#publisher {
    position: relative;
    width: 320px;
    height: 240px;
    
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#mysignal, #mytext{
    position: relative;
    width: 120px;
    height: 15px;
}

#pleaseAllowCamera{
    display: none;
}