.user_error {
  color:#ff1111;
  font-weight:bold;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#sampleHelp3, #sampleHelp4 {
  height: 50px;
  width: 250px;
}

.username, .user_level {
  padding: 4px
}

.workspace
{
  height: 300px;
}
